<a href="https://colab.research.google.com/github/sadrasa97/get-doi-based-on-topic/blob/main/Untitled89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
!pip install habanero

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting habanero
  Downloading habanero-1.2.3-py2.py3-none-any.whl (30 kB)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.10/dist-packages (from habanero) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from habanero) (4.65.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->habanero) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->habanero) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->habanero) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->habanero) (3.4)
Installing collected packages: habanero
Successfully installed habanero-1.2.3

In [58]:
import requests
import pandas as pd
def get_article_dois(topic,rows):
    '''
    Given a topic, returns a list of DOIs for articles related to the topic,
    using the Crossref API.
    '''
    base_url = 'https://api.crossref.org/works'
    query_params = {
        'query.bibliographic': topic,
        'rows': rows,
        'sort': 'relevance'
    }
    response = requests.get(base_url, params=query_params)

    if response.ok:
        article_data = response.json()['message']['items']
        dois = [article['DOI'] for article in article_data]
        df=pd.DataFrame({'topic':topic,'Doi':dois})
        return df
    else:
        response.raise_for_status()

# Example usage:
topic = input("give me your topic :")
rows=input('give me your number of article :')
df1 = get_article_dois(topic,rows)
print(df1)

give me your topic :ml
give me your number of article :25
   topic                             Doi
0     ml       10.2478/s11534-006-0043-9
1     ml                10.3403/30305967
2     ml        10.7717/peerj.8978/fig-5
3     ml         10.7554/elife.18857.014
4     ml    10.1158/1538-7445.sabcs19-ml
5     ml    10.1017/cbo9780511811326.003
6     ml    10.1017/cbo9780511574962.005
7     ml  10.7551/mitpress/2319.003.0015
8     ml    10.1017/cbo9780511811326.010
9     ml    10.1109/icws55610.2022.00016
10    ml    10.7717/peerj-achem.14/fig-3
11    ml       10.7717/peerj.10760/fig-1
12    ml               10.3403/30115177u
13    ml                10.3403/30115174
14    ml               10.3403/30115174u
15    ml                10.3403/30115177
16    ml         10.2514/6.2022-1472.vid
17    ml               10.3403/01342374u
18    ml         10.59176/kjcs.v2i1.2240
19    ml                10.3403/01342374
20    ml       10.7717/peerj.10756/fig-4
21    ml                10.1201/b18579-6
22    ml         10.1145/1159876.1159879
23    ml     10.1007/978-1-4842-8998-3_6
24    ml  10.1158/1538-7445.sabcs14-ml-1

In [60]:
from habanero import Crossref
doi=[]
cr = Crossref()
topic=input("give me your desire topic \n")
result = cr.works(query = topic)
num=int(input('give me number of article :\n'))
for i in range(num):
    doi.append(result['message']['items'][i]['DOI'])
df2=pd.DataFrame({'topic':topic,'Doi':doi})
print(df2)

give me your desire topic
ml
give me number of article :
20
   topic                             Doi
0     ml       10.2478/s11534-006-0043-9
1     ml                10.3403/30305967
2     ml        10.7717/peerj.8978/fig-5
3     ml         10.7554/elife.18857.014
4     ml    10.1158/1538-7445.sabcs19-ml
5     ml    10.1017/cbo9780511811326.003
6     ml    10.1017/cbo9780511574962.005
7     ml  10.7551/mitpress/2319.003.0015
8     ml    10.1109/icws55610.2022.00016
9     ml    10.1017/cbo9780511811326.010
10    ml    10.7717/peerj-achem.14/fig-3
11    ml       10.7717/peerj.10760/fig-1
12    ml               10.3403/30115177u
13    ml                10.3403/30115174
14    ml               10.3403/30115174u
15    ml                10.3403/30115177
16    ml         10.59176/kjcs.v2i1.2240
17    ml            10.17989/encsr847uwt
18    ml       10.7717/peerj.10756/fig-4
19    ml               10.3403/01342374u

In [62]:
# merge dataframes and keep track of which rows come from which dataframe
merge_info = df1.merge(df2, how='outer', indicator=True)

# drop rows that are in both dataframes
merged_df = merge_info.query("_merge != 'both'").drop('_merge', axis=1)

# concatenate remaining rows into a single dataframe
union_df = pd.concat([df1, df2], ignore_index=True)

In [65]:
merged_df

   topic                             Doi
16    ml         10.2514/6.2022-1472.vid
19    ml                10.3403/01342374
21    ml                10.1201/b18579-6
22    ml         10.1145/1159876.1159879
23    ml     10.1007/978-1-4842-8998-3_6
24    ml  10.1158/1538-7445.sabcs14-ml-1
25    ml            10.17989/encsr847uwt